@charset "UTF-8";

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#hcb{
    background-color: #86c28b;
    color: white ;
    text-shadow: 2px 2px 2px rgb(0, 0, 0), -2px 2px 2px rgb(0, 0, 0), 2px -2px 2px rgb(0, 0, 0), -2px -2px 2px rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.menu ul{
    margin: 0;
    padding: 0;
}

.menu ul li{
    list-style-type: none;
    padding: 5px;
    text-align: center;
    display: flex;
    padding: 5px;
    text-decoration: none;
    color: white;
    height: 100px;
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid black;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.menu ul li:nth-child(1){
    background-color: #63976f;
    position: fixed;
    top: 100px;
}

.menu ul li:nth-child(2){
    background-color: #6ba377;
    position: fixed;
    top: 200px;
}

.menu ul li:nth-child(3){
    background-color: #7ab37f;
    position: fixed;
    top: 300px;
}

.menu ul li:hover{
    background-color: #00a600;
}

.texto{
    text-align: center;
    padding: 10px;
    color: black;
    max-width: calc(100vw - 250px);
    margin: 0 auto;
}

.tabela{
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    background-color:#4a4857;
    border-collapse: collapse;
}

.tabela h2{
    text-align: center;
    color: white;
}

.tabela table{
    display: flex;
    justify-content: center;
}

.tabela td, th{
    border: 2px solid black;
    padding: 5px;
}

.tabela th{
    background-color: #67976b;
    color: white;
    text-align: center;
}

.tabela tr:nth-child(even){
    background-color: #63976f;
}

.tabela tr:nth-child(odd){
    background-color: #84cc94;
}

.tabela tr:hover{
    background-color: #00a600;
}

#pnl{
    margin: 0;
    text-align: center;
    background-color: #4a4857;
    box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#pnl button{
    margin: 10px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0), -2px 2px 2px rgb(0, 0, 0), 2px -2px 2px rgb(0, 0, 0), -2px -2px 2px rgb(0, 0, 0);
}

#pnl button:hover{
    background-color: #00a600;
}

#pnl img{
    width: 70px;
    height: 70px;
    margin: 2px;
    object-fit: cover;
}

.rodape{
    background-color: #86c28b;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.rodape:hover{
    background-color: #00a600;
}

.rodape a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
}