@charset "UTF-8";

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.titulo{
    font-size: 1.5em;
    font-weight: bold;
    background-color: black;
    color: greenyellow;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px green, -1px 1px 1px green, 1px -1px 1px green, -1px -1px 1px green;
}

.titulo h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-align: center;
}

.menu{
    margin: 0px;
    padding: 0px;
}

.menu ul{
    margin: 0;
    padding: 10px;
    background-color: greenyellow;
    text-align: center;
    height: 43px;
}

.menu li{
    margin: 10px;
    padding: 5px;
    display: inline;
    list-style-type: none;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    background-color: green;
    box-shadow: 2px 2px 2px black;
}

.menu li:hover{
    background-color: lightgreen;
}
.menu a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
}



.sobre{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;    
}

.sobre h2{
    margin: 15px;
    padding: 0;
    font-size: 36px;
    color: greenyellow;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;

}

.requisitos{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.requisitos h2{
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: greenyellow;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
}

.logo{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
}

.logo img{
    display: none;
}

.certificado{
    margin: 0;
    padding: 21.9px;
    text-align: center;
    justify-content: center;
    background-color: greenyellow;
}

.certificado h2{
    margin: 0;
    padding: 10.5px;
    color: white;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;

}

.certificado p{
    margin: 0;
    padding: 0;
    color: black;
}

.meio::after{
    content: "";
    display: table;
    clear: both;
}

[class*="col-"]{
    float: left;;
    padding: 0px;
    width: 100%;
}

@media only screen and (min-width: 767px){
    .logo img{
        display: inline;
        max-width: 100%;
        height: auto;
    }
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%;}
    .col-s-12{width: 100%;}
}

@media only screen and (min-width: 1024px){
    .logo img{
        display: inline;
        max-width: 100%;
        height: auto;
        width: 450px;
    }

    .menu ul{
        margin: 0;
        padding: 10px;
        text-align: center;
        background-color: white;
    }
    
    .menu li{
        margin: 10px;
        padding: 5px;
        display: flex;
        list-style-type: none;
        color: white;
        border: 1px solid black;
        border-radius: 5px;
        background-color: green;
        box-shadow: 2px 2px 2px black;
    }

    .requisitos{
        padding: 0;
        font-size: 18px;
        text-align: center;
        justify-content: center;
    }

    .requisitos h2{
        margin: 5px;
        padding: 0;
        font-size: 36px;
        color: greenyellow;
        text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
    }

    .sobre{
        margin: 0;
        padding: 5px;
        font-size: 18px;
        text-align: center;
        justify-content: center;    
    }

    .sobre h2{
        margin: 5px;
        padding: 0;
        font-size: 36px;
        color: greenyellow;
        text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
    }

    .certificado{
        margin: 0;
        padding: 19px;
        text-align: center;
        justify-content: center;
        background-color: greenyellow;
    }

    .certificado h2{
        font-size: 36px;
    }

    .certificado p{
        font-size: 18px;
    }

    .col-1{width: 8.33%;}
    .col-2{width: 16.66%;}
    .col-3{width: 25%;}
    .col-4{width: 33.33%;}
    .col-5{width: 41.66%;}
    .col-6{width: 50%;}
    .col-7{width: 58.33%;}
    .col-8{width: 66.66%;}
    .col-9{width: 75%;}
    .col-10{width: 83.33%;}
    .col-11{width: 91.66%;}
    .col-12{width: 100%;}
}